<!--/* Thymeleaf templating engine, Each token will be replaced by their respective titles in the resulting page. */-->
<html>
<head>
<title>Budget Range PC Build</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: DarkSalmon;
	color: white;
	text-align: center;
}

.right {
	position: absolute;
	right: 0px;
	width: 300px;
	border: 3px solid #73AD21;
	padding: 10px;
}

/* Header component Start */
* {
	box-sizing: border-box;
}

.header {
	overflow: hidden;
	background-color: #f1f1f1;
	padding: 20px 10px;
}

.header a {
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}

.header a.logo {
	font-size: 25px;
	font-weight: bold;
}

.header a:hover {
	background-color: #ddd;
	color: black;
}

.header a.active {
	background-color: dodgerblue;
	color: white;
}

.header-right {
	float: right;
}

@media screen and (max-width: 500px) {
	.header a {
		float: none;
		display: block;
		text-align: left;
	}
	.header-right {
		float: none;
	}
}

/* Header component End */
</style>

</head>

<body style="background-color: powderblue;">

	<!-- /* Header component Start */ -->

	<div class="header">
		<a href="#default" class="logo">Budget Range PC Build</a>
		<div class="header-right">
			<a class="active" href="#home">Home</a> <a href="#"
				th:href="@{/contribute/form}">Contribute Your Build</a> <a
				href="#about">About</a>
		</div>
	</div>

	<!-- /* Header component End */ -->

	<div xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
		layout:decorate="~{master-form}">

		<div layout:fragment="breadcrumb">
			<h1 style="text-align: center">Choose Your Requirement</h1>

			<!-- <ol class="breadcrumb">
			<li><a href="#" th:href="@{/specificationUser/user-form}"><i
					class="fa fa-dashboard"></i> Home</a></li>
			<li class="active">Budget Range PC Build</li>
		</ol> -->
		</div>


		<div layout:fragment="panel-content"
			style="margin-left: 45px; margin-right: 45px;">
			<!-- <div th:include="role/addForm"></div> -->
			<div class="card border-primary box box-primary">

				<div th:if="${message != null}"
					class="panel panel-default fade in collapse alert alert-info"
					style="margin: 10px; padding: 5px;" id="idMessagePanel">
					<div>
						<a data-toggle="collapse" href="#idMessagePanel" class="close">&times
						</a>
					</div>
					<div class="panel-body" th:text="${message}"></div>
				</div>

				<div th:if="${errorMessage != null}"
					class="panel panel-default fade in collapse alert alert-warning"
					style="margin: 5px; padding: 5px;" id="idMessagePanel">
					<div>
						<a data-toggle="collapse" href="#idMessagePanel" class="close">&times
						</a>
					</div>
					<div class="panel-body" th:text="${errorMessage}"></div>
				</div>

				<div class="with-border">
					<div class="">
						<div class="box-body">
							<div class="">
								<!-- add form -->
								<form role="form" th:action="@{/specificationUser/user-form}"
									th:object="${specification}" method="post"
									enctype="multipart/form-data" class="needs-validation"
									novalidate>
									<div class="text-right">
										<div role="group">
											<button sec:authorize="hasRole('ROLE_THANA_ADD')"
												class="button button4" type="submit" name=btnSubmit
												value="SaveClose" title="Find Build">
												<i class="fa fa-floppy-o mr-1 text-primary"></i>Find Build
											</button>


										</div>
									</div>



									<div class="container">
										<div class="row">



											<div class="col-md-4">
												<div class="">
													<label for="kode" class="val-required">Budget</label> <select
														class="selectpicker form-control" id="cboDistrict"
														path="cboDistrict" data-live-search="true" data-size="10"
														title="Please Select ..." th:field="*{budget}" required>
														<option th:each="p : ${budget}" th:value="${p.id}"
															th:text="${p.budgetName}">Select Budget</option>
													</select> <label class="control-label error-label"
														th:errors="*{budget}"> Pesan error nanti di sini </label>
												</div>
											</div>



											<div class="col-md-4">
												<div class="form-group">
													<label for="kode" class="val-required">Monitor
														Requrement</label> <select class="selectpicker form-control"
														id="cboDistrict" path="cboDistrict"
														data-live-search="true" data-size="10"
														title="Please Select ..." th:field="*{monitorRequrement}"
														required>
														<option th:each="p : ${monitorRequrement}"
															th:value="${p.id}" th:text="${p.monitorRequrementName}">Select
															Monitor Requrement</option>
													</select> <label class="control-label error-label"
														th:errors="*{monitorRequrement}"> Pesan error
														nanti di sini </label>
												</div>
											</div>

											<div class="col-md-4">
												<div class="form-group">
													<label for="kode" class="val-required">Purpose</label> <select
														class="selectpicker form-control" id="cboDistrict"
														path="cboDistrict" data-live-search="true" data-size="10"
														title="Please Select ..." th:field="*{purpose}" required>
														<option th:each="p : ${purpose}" th:value="${p.id}"
															th:text="${p.purposeName}">Select Purpose</option>
													</select> <label class="control-label error-label"
														th:errors="*{purpose}"> Pesan error nanti di sini
													</label>
												</div>
											</div>


										</div>




									</div>



									<!-- /.box-body -->

								</form>
								<!-- <p style="font-family:courier; padding: 250px 50px 75px 100px;">  <h1 style="font-family:verdana; font-size:20px; ">Instructions </h1> <br>
							Please Choose your desire requirement from the dropdown box and click "Find Build" to see available list of setups specification
							
							</p> -->


							</div>



						</div>
					</div>
					<!-- #Modal for removing -->
					<div th:include="deleteModal/del_modal"></div>
				</div>





				<div id="sfcqx16bfdwrjmtlnchcyn4g4j6wtxwzpx1"></div>
				<script type="text/javascript"
					src="https://counter3.stat.ovh/private/counter.js?c=qx16bfdwrjmtlnchcyn4g4j6wtxwzpx1&down=async"
					async></script>
				<noscript>
					<a href="https://www.freecounterstat.com" title="free hit counter"><img
						src="https://counter3.stat.ovh/private/freecounterstat.php?c=qx16bfdwrjmtlnchcyn4g4j6wtxwzpx1"
						border="0" title="free hit counter" alt="free hit counter"></a>
				</noscript>



			</div>
		</div>


		<th:block layout:fragment="styles">
			<link rel="stylesheet"
				href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
				integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
				crossorigin="anonymous">

			<style>
.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button4 {
	border-radius: 12px;
}
</style>

		</th:block>

		<th:block layout:fragment="script">
			<script type="text/javascript">
				$(document)
						.ready(
								function() {
									setTimeout(
											function() {
												document
														.getElementById('idMessagePanel').style.display = 'none';
											}, 5000);

								});
			</script>
		</th:block>

	</div>

	<div class="footer">
		<p>
			Developed By<br> <a
				href="https://www.facebook.com/md.mahadihasan300" target="_blank">Mahadi
				Hasan</a>
		</p>
	</div>




















</body>
</html>
